<div class="container mt-4">
  <h1><%= @empire.name %></h1>
  
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Resources</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th>Credits:</th>
                <td><%= @empire.credits %></td>
              </tr>
              <tr>
                <th>Minerals:</th>
                <td><%= @empire.minerals %></td>
              </tr>
              <tr>
                <th>Energy:</th>
                <td><%= @empire.energy %></td>
              </tr>
              <tr>
                <th>Food:</th>
                <td><%= @empire.food %></td>
              </tr>
              <tr>
                <th>Population:</th>
                <td><%= @empire.population %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Update Resources (Admin Testing)</h3>
        </div>
        <div class="card-body">
          <%= form_with(url: update_resources_empire_path(@empire), method: :patch, scope: :resource_update) do |form| %>
            <div class="mb-3">
              <%= form.label :resource, "Resource", class: "form-label" %>
              <%= form.select :resource, 
                  [['Credits', 'credits'], 
                   ['Minerals', 'minerals'], 
                   ['Energy', 'energy'], 
                   ['Food', 'food'], 
                   ['Population', 'population']], 
                  {}, class: "form-select" %>
            </div>
            
            <div class="mb-3">
              <%= form.label :action, "Action", class: "form-label" %>
              <%= form.select :action, 
                  [['Add', 'add'], ['Remove', 'remove']], 
                  {}, class: "form-select" %>
            </div>
            
            <div class="mb-3">
              <%= form.label :amount, "Amount", class: "form-label" %>
              <%= form.number_field :amount, min: 1, class: "form-control" %>
            </div>
            
            <%= form.submit "Update Resources", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
